backstage:
  ingress:
    host: backstage.suxess.demo-peaknetworks.com

  backstage:
    appConfig:
      app:
        baseUrl: https://backstage.suxess.demo-peaknetworks.com

      backend:
        baseUrl: https://backstage.suxess.demo-peaknetworks.com
        csp:
          frame-src: ['*.suxess.demo-peaknetworks.com']
        cors:
          origin: https://backstage.suxess.demo-peaknetworks.com

      proxy:
        endpoints:
          '/grafana/api':
            target: https://grafana.suxess.demo-peaknetworks.com

      argocd:
        baseUrl: https://argocd.suxess.demo-peaknetworks.com
        appLocatorMethods:
          - type: 'config'
            instances:
              - name: kubrix
                url: https://argocd.suxess.demo-peaknetworks.com
                token: ${ARGOCD_AUTH_TOKEN}

      auth:
        providers:
          oidc:
            development:
              callbackUrl: https://backstage.suxess.demo-peaknetworks.com/api/auth/oidc/handler/frame

      explore:
        tools:
          - title: Announcements
            description: Updates for your Employees
            url: /announcement
            image: /homepage/images/announcements.jpg
            tags:
              - Announcement
              - Employee
              - noHashtag
          - title: Central Monitoring
            description: Central Monitoring
            url: https://grafana.suxess.demo-peaknetworks.com/
            image: /homepage/images/monitoring.jpg
            tags:
              - Monitoring
              - Observability
          - title: GitOps CD
            description: Discover kubriX GitOps CD
            url: https://argocd.suxess.demo-peaknetworks.com/
            image: /homepage/images/platforms.jpg
            tags:
              - GitOps
              - CD
              - argocd
          - title: GitOps Promotion
            description: orchestrate stage-to-stage deployments
            url: https://kargo.suxess.demo-peaknetworks.com
            image: /homepage/images/sdk.jpg
            tags:
              - kargo
              - multistage
              - promotion
          - title: Thread Detection
            description: Discover security threats in real time
            url: https://falco.suxess.demo-peaknetworks.com
            image: /homepage/images/infrastructure.jpg
            tags:
              - falco
              - Threat Detection
              - Regulatory Compliance
          - title: IAM
            description: Identity and Access Management
            url: https://keycloak.suxess.demo-peaknetworks.com
            image: /homepage/images/hubs.jpg
            tags:
              - keycloak
              - sso
          - title: Secret Management
            description: Manage Secrets 
            url: https://vault.suxess.demo-peaknetworks.com
            image: /homepage/images/apps.jpg
            tags:
              - vault
              - secrets
      catalog:
        locations:
          - type: url
            target: "{{ .Values.global.repoURL }}/blob/{{ .Values.global.targetRevision }}/backstage-resources/templates/showcase-templates-demo-stack.yaml"
            rules:
              - allow: [Template]
          - type: url
            target: "{{ .Values.global.repoURL }}/blob/{{ .Values.global.targetRevision }}/backstage-resources/entities/demo-stack.yaml"

      grafana:
        domain: https://grafana.suxess.demo-peaknetworks.com

      kubecost:
        baseUrl: https://kubecost.suxess.demo-peaknetworks.com/
